* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Public Sans", sans-serif;
    overflow-x: hidden;
    /* background-image: url(/design/mobile-design.jpg); */
    background-size: unset;
    background-repeat: no-repeat;
}

.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: auto;
    height: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER & NAV*/

header {
    height: 100px;
    width: 100%;
    top: 0;
    background-color: #fff;
    position: fixed;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 200px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    font-size: 18px;
    color: rgb(173, 173, 173);
    margin: 10px;
    font-weight: 500;
    padding: 39px 9px;
    transition: color 0.2s;
    position: relative;
}

header nav ul li a::after {
    content: '';
    width: 100%;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 0.2s;
    background-color: #30b9cc;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to top right, #30b9cc, #31d65e);
}

header nav ul li a:hover {
    color: #2d314e;
}

header nav ul li a:hover::after {
    height: 6px;
}

.button {
    background-color: darkseagreen;
    border-radius: 100px;
    padding: 18px 42px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: opacity 0.2s;
    background-color: #30b9cc;
    /* For browsers that do not support gradients */
    background-image: linear-gradient(to top right, #30b9cc, #31d65e);
}

.button:hover {
    opacity: 0.7;
}

#nav-button {
    display: none;
    cursor: pointer;
}

/* HERO SECTION */

#hero {
    height: 950px;
    background-color: #fafafa;
}

#hero .container {
    display: flex;
    align-items: center;
}

#intro {
    width: 43%;
}

h1 {
    font-size: 70px;
    line-height: 85px;
    font-weight: 300;
    width: 600px;
    color: #2d314e;
    margin-top: 85px;
    margin-bottom: 35px;
}

p {
    font-size: 22.5px;
    width: 95%;
    color: rgb(173, 173, 173);
    line-height: 36px;
    margin-bottom: 45px;
}

#intro-images {
    position: relative;
    height: 100%;
}

#bg-image-desktop {
    height: 1350px;
    margin-top: -240px;
}

#bg-image-mobile {
    display: none;
}

#bg-img-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    overflow: hidden;
}

#app-interface {
    height: 1220px;
    margin-left: 225px;
    margin-top: -110px;
    z-index: 10;
    position: relative;
}

/* SECTION FEATURES */

#features {
    padding-top: 125px;
    padding-bottom: 90px;
    background-color: #f4f5f7;
}

h2 {
    font-size: 50px;
    font-weight: 300;
    color: #2d314e;
}

#features p {
    width: 60%;
    margin-top: 45px;
}

#features-container {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-feature {
    width: 22.9%;
}

.feature-img {
    width: 95px;
}

h3 {
    font-size: 30px;
    font-weight: 300;
    margin-top: 45px;
    color: #2d314e;
}

#features .single-feature p {
    font-size: 20px;
    line-height: 34px;
    margin-top: 30px;
    width: auto;
}

/* SECTION LATEST ARTICLES */

#latest-articles {
    padding-top: 110px;
    padding-bottom: 115px;
    background-color: #fafafa;
}

#articles-container {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

article {
    width: 23%;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
}

.img-container {
    height: 260px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.article-details {
    padding: 30px 25px;
}

article span {
    display: block;
    color: rgb(173, 173, 173);
    font-size: 13px;
}

article a {
    color: #2d314e;
    font-size: 20px;
    display: block;
    margin-top: 20px;
    transition: color 0.2s;
}

article a:hover {
    color: #58b998;
}

article p {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 21px;
    letter-spacing: 0.25px;

}

/* FOOTER */

footer {
    background-color: #2d314e;
    height: 250px;
    padding-top: 60px;
}


#logo-social,
#footer-nav {
    float: left;
}

#footer-logo img {
    width: 200px;
    margin-right: 170px;
}

#social-media {
    margin-top: 65px;
}

#social-media ul li {
    display: inline;
    margin-right: 14px;
}


#social-media ul li a img {
    width: 26px;
}

#footer-nav nav ul {
    display: flex;
    flex-wrap: wrap;
    width: 116%;
}

#footer-nav nav ul li {
    margin-bottom: 30px;
    width: 50%;
}

#footer-nav nav ul li a {
    color: #fff;
    font-size: 18px;
    transition: color 0.2s;
}

#footer-nav nav ul li a:hover {
    color: #58b998;
}

#copy-right {
    float: right;
    text-align: right;
}

#copy-right .button {
    display: inline-block;
}

#copy-right span {
    display: block;
    margin-top: 30px;
    color: #7a7c93;
    font-size: 18px;
}


@media (max-width:1200px) {

    .container {
        max-width: 1000px;
        padding: 0 25px;
    }

    /* HEADER & NAV */

    header {
        height: 65px;
    }

    #logo img {
        width: 150px;
    }

    header nav,
    header .button {
        display: none;
    }

    #navigation.show-nav{
        display: block;
    }

    header nav {
        padding: 25px;
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        margin-top: 65px;
        background-color: #2d314e7a;
        background-image: linear-gradient(#2d314e, #2d314e00);
    }

    header nav ul {
        background-color: #fff;
        max-width: 950px;
        margin: auto;
        border-radius: 10px;
        padding: 10px;
    }

    header nav ul li {
        display: block;
        text-align: center;
        margin: 30px;
    }

    header nav ul li a {
        color: #2d314e;
    }

    header nav ul li a::after {
        display: none;
    }


    #nav-button {
        display: block;
    }


    /* HERO SECTION */

    #hero {
        height: auto;
        padding-bottom: 150px;
    }

    #hero .container {
        flex-direction: column;
        max-width: none;
        padding: 0;
    }

    #intro {
        order: 2;
        padding: 0 100px;
    }

    h1 {
        font-size: 60px;
    }

    #intro-images {
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #app-interface {
        margin-left: 0;
        margin-top: -250px;
        height: auto;
    }

    #bg-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: visible;
    }

    #bg-image-desktop {
        display: none;
    }

    #bg-image-mobile {
        display: block;
        width: 100%;
        height: 1300px;
        margin-top: -400px;
    }

    #intro,
    h1 {
        width: auto;
        text-align: center;
    }



    /* SECTION FEATURES */

    #features {
        text-align: center;
        padding-bottom: 0;
    }

    h2 {
        font-size: 40px;
    }

    #features p {
        width: auto;
    }

    .single-feature {
        width: 45%;
        margin-bottom: 50px;
    }

    /* SECTION LATEST ARTICLES */

    #latest-articles {
        padding-bottom: 0;
    }

    #latest-articles h2 {
        text-align: center;
    }

    #articles-container {
        flex-wrap: wrap;
    }

    article {
        width: 45%;
        margin-bottom: 50px;
    }

    .img-container {
        height: 330px;
    }

    /* FOOTER */

    footer {
        overflow: hidden;
        height: auto;
        padding-bottom: 50px;
    }

    #logo-social {
        float: right;
    }

    #footer-logo img {
        margin-right: 0;
        margin-left: 15px;
    }

    #social-media {
        margin-top: 30px;
    }

    #footer-nav nav ul {
        width: auto;
    }

    #copy-right {
        width: 100%;
        text-align: left;
    }

    #copy-right .button {
        float: right;
    }

}

@media (max-width:768px) {

    /* HERO SECTION */

    #app-interface {
        width: 100%;
        margin-top: -25%;
    }

    #bg-image-mobile {
        height: 100%;
        margin-top: 50px;
    }

    #intro {
        padding: 0 30px;
    }

    h1 {
        font-size: 45px;
        line-height: normal;
    }

    /* SECTION FEATURES */

    #features-container {
        justify-content: center;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 25px;
    }

    .single-feature {
        width: auto;
        max-width: 400px;
    }


    /* SECTION LATEST ARTICLES */

    #articles-container {
        justify-content: center;
    }

    article {
        width: auto;
        max-width: 400px;
    }

    /* FOOTER */


    footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #footer-logo img {
        margin-left: 10px;
    }

    #social-media {
        margin-top: 15px;
    }

    #footer-nav nav ul {
        display: block;
        margin-top: 70px;
        margin-bottom: 70px;
    }

    #footer-nav nav ul li {
        width: auto;
        text-align: center;
    }

    #copy-right {
        width: auto;
        text-align: center;
    }

    #copy-right .button {
        float: none;
    }
}